@import "/themes/clear-sky-theme/components/psk-mobile/psk-mobile-docs.css";

.mobile {
    background-color: #EEEEEE;
}

.mobile > header {
    background-color: #354F9B;
}

.mobile > header > .title {
    font-size: 1.6rem;
}

.mobile > header .btn:hover,
.mobile > header .btn:focus,
.mobile > header .btn:active {
    border-style: solid;
    border-color: #5E7FE1;
}

.mobile > header .btn .icon,
.mobile > footer .btn .icon {
    color: #FFFFFF;
}

.mobile > main > * {
    color: #000000;
}

.mobile > footer {
    background-color: #5E7FE1;
}

.mobile > header .aside-menu {
    background-color: #4461B5;
}

.mobile > header .options-menu {
    background-color: #FFFFFF;
}

.mobile > main .main-cover {
    background-color: rgba(0, 0, 0, 0.75);
}
