:host {
    font-size: 16px !important;
}

.summary .icon {
    margin-right: 1rem;
    font-size: 15px;
    color: #4461B5;
}

.content {
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
}