input.form-control:focus{
    border-color:#fff;
    box-shadow: 0px 0px 6px 1px rgba(76,113,222,1);
}

.formated-date {
    position: relative;
    width: 150px; height: 20px;
    color: white;
}

.formated-date:before {
    position: absolute;
    top: 0.45rem;
    left: 0.7rem;
    content: attr(data-date);
    display: inline-block;
    color: #495057;
}

.formated-date::-webkit-datetime-edit, .formated-date::-webkit-inner-spin-button, .formated-date::-webkit-clear-button {
    display: none;
}

.formated-date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0.41rem;
    right: 0.8rem;
    color: black;
    opacity: 1;
}