psk-link div {
    padding: 0 !important;
}

[slot='footer'] {
    border-top: 1px solid #EFEFEF;
}

[slot='footer'] psk-link > *,
[slot='footer'] psk-link .icon {
    font-size: 17px;
    color: #4461B5;
}